[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
 
 
[*.{cs,vb}]
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0058.severity = none
csharp_style_namespace_declarations=file_scoped:suggestion
# dotnet_diagnostic.CA2016.severity = warn